<div class="enfant_1" *ngIf="pokemonAvatar.length > 2" >
        <mat-card *ngFor="let pokemon of pokemonAvatar">
           <mat-card-content>{{pokemon.name}}</mat-card-content>
           <mat-card-content>{{pokemon.type}}</mat-card-content> 
           <button type="button"  (click)="deletePokemons(pokemon.id)">Supprimer</button> 
           <button type="button"  (click)="montrerPokemons(pokemon)">Afficher en details</button>                                 
        </mat-card>
       
</div>
